registry="https://artifactoryprod.es.ad.adp.com/artifactory/api/npm/adp-ui-framework-npm"
proxy=null
https-proxy=null
registry="http://registry.npmjs.org/“



export HTTP_PROXY=http://usproxy.es.oneadp.com:8080/
export HTTPS_PROXY=http://usproxy.es.oneadp.com:8080/
export NO_PROXY=.adp.com

registry=https://artifactoryprod.es.ad.adp.com/artifactory/api/npm/adp-ui-framework-npm
_auth = YWRwLXVpLWZyYW1ld29yay1kZXBsb3k6QVA4OTJoVEZkeTZVR052VHZ0NnhmUWtNSDJwaGIyQkRkb05iczE=
always-auth = true
email = adp-ui-framework-deploy@adp.com